body.signin-body {
    background-color: gainsboro;
}

.container.signin-container {
    margin-top: 8%;
    margin-bottom: 8%;
}

.card.signin-card {
    padding: 40px 10px 40px;
    border: 2px solid rgba(0, 0, 0, .5);;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

.image-fluid.signin-image{
    width: 40%;
    padding: 0rem 2rem 2rem;
    margin: auto;
    display: block;
}
.signin-form{
    margin: auto;
    max-width: 75%;
}
.btn.btn-primary{
    max-width: 100%;
}